/* mobile */
.tab{display: none;}
.pc{display: none;}
.m{display: block;}


#wrapper{min-width: 300px;}

.wrap{
    padding: 10px 20px;
    font-family: "Pretendard";
}

header{}
header .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header .wrap h1{}
header .wrap h1 img{
    width: 100px;
}
header .wrap .btn-shopping{
    display: flex;
    gap: 8px;
}
header .wrap .btn-shopping button{}
header .wrap .btn-shopping .btn-cart{position: relative;}
header .wrap .btn-shopping .btn-cart .count{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #FF312A;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(9px, -1px);
    color: #fff;
    font-weight: 500;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .wrap .btn-shopping img{
    width: 24px;
}
header .wrap form{
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    padding: 8px 12px;
    border-radius: 999px;
    margin: 12px 0;
}
header .wrap form .btn-search{}
header .wrap form .search{
    width: 100%;
}
header .wrap form .search input{
    width: 100%;
    height: 100%;
    color: #4d4d4d;
    margin-left: 20px;
}
header .wrap form .search input::placeholder{
    color: #4d4d4d;
    font-size: 12px;
}
header .wrap form .btn-camera{
    margin-left: auto;
}
header .wrap form button{}
header .wrap form button img{width: 16px;}

.banner{}
.banner .wrap{}
.banner .wrap .tit{
    display: flex;
    gap: 6px;
    align-items: center;
}
.banner .wrap .tit img{width: 14px;}
.banner .wrap .tit p{
    font-size: 14px;
    font-weight: 800;
}
.banner .wrap .content{}
.banner .wrap .content .swiper-wrapper{
    align-items: flex-end;
}
.banner .wrap .content .swiper-wrapper>div{
    padding: 10px 0;
    width: 80px;
}
.banner .wrap .content .swiper-wrapper a{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.banner .wrap .content .swiper-wrapper img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .wrap .content .swiper-wrapper p{
    text-wrap: nowrap;
    font-size: 12px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
}
.sec-1{}
.sec-1 .wrap{
    padding: unset;
    max-width: calc(100% - 40px);
    width: 100%;
    margin: 0 auto;
}
.sec-1 .wrap .main-text{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 20px 0;
}
.sec-1 .wrap .main-text .tit{
    font-size: 20px;
    font-weight: 800;
}
.sec-1 .wrap .main-text .sub{
    font-size: 14px;
}

.sec-1 .wrap>div .thum{
    border-bottom: 1px solid #C6C6C6;
}

.sec-1 .wrap>div .thum .text{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 0;
}
.sec-1 .wrap>div .thum img{
    width: 100%;
}
.sec-1 .wrap>div .thum .tit{
    font-size: 18px;
    font-weight: 700;
}
.sec-1 .wrap>div .thum .sub{
    font-size: 14px;
}
.sec-1 .wrap .item{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sec-1 .wrap .item>div{
    display: flex;
    gap: 10px;
}

.sec-1 .wrap .item .img{}
.sec-1 .wrap>div .item .img img{
    height: 87px;
    padding: 10px 10px;
    border-radius: 4px;
    background-color: #F4F4F4;
}
.sec-1 .wrap>div .item .text{
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;

}
.sec-1 .wrap>div .item .text .eng{
    font-size: 12px;
    font-weight: 800;
}
.sec-1 .wrap>div .item .text .kor{
    font-size: 12px;
    color: #888888;
    font-weight: 400;
}
.sec-1 .wrap>div .item .text .price{
    display: flex;
    gap: 6px;
    padding-top: 10px;
}
.sec-1 .wrap>div .item .text .price p:nth-child(1){
    font-size: 14px;
    font-weight: 800;
    color: #FF4802;
}
.sec-1 .wrap>div .item .text .price p:nth-child(2){
    font-size: 14px;
    font-weight: 800;
}

.sec-2{}
.sec-2 .wrap{
    width: 100%;
}
.sec-2 .wrap>.text{
    padding: 20px 0;
}
.sec-2 .wrap .text .tit{
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
}
.sec-2 .wrap .text .sub{
    font-size: 14px;
    color: #C1C1C1;
}

.sec-2 .wrap .swiper-wrapper{
    position: relative;
}

.sec-2 .wrap .swiper-wrapper>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sec-2 .wrap .swiper-wrapper .thum{}
.sec-2 .wrap .swiper-wrapper .thum img{
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 14px;
    padding: 10px 10px;
}

.sec-2 .wrap .swiper-wrapper>div .text{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.sec-2 .wrap .swiper-wrapper>div .text .eng{
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sec-2 .wrap .swiper-wrapper>div .text .kor{
    color: #888888;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sec-2 .wrap .swiper-wrapper>div .price{
    font-size: 14px;
    font-weight: 800;
    padding-top: 10px;
}
.sec-2 .wrap .swiper-wrapper>div .price p{}

.sec-2 .wrap .swiper-wrapper>div .info{
    display: flex;
    gap: 6px;
}
.sec-2 .wrap .swiper-wrapper>div .info>div{}
.sec-2 .wrap .swiper-wrapper>div .info>div a{
    display: flex;
    align-items: center;
    gap: 4px;
}
.sec-2 .wrap .swiper-wrapper>div .info img{
    height: 12px;
}
.sec-2 .wrap .swiper-wrapper>div .info p{
    font-size: 12px;
    color: #888888;
}

.sec-3{}
.sec-3 .wrap{
    padding: unset;
    max-width: calc(100% - 40px);
    width: 100%;
    margin: 0 auto;
}
.sec-3 .wrap .main-text{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 20px 0;
}
.sec-3 .wrap .main-text .tit{
    font-size: 20px;
    font-weight: 800;
}
.sec-3 .wrap .main-text .sub{
    font-size: 14px;
}

.sec-3 .wrap .con-2 .thum{
    border-bottom: 1px solid #C6C6C6;
}

.sec-3 .wrap .con-2 .thum .text{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 0;
}
.sec-3 .wrap .con-2 .thum img{
    width: 100%;
}
.sec-3 .wrap .con-2 .thum .tit{
    font-size: 18px;
    font-weight: 700;
}
.sec-3 .wrap .con-2 .thum .sub{
    font-size: 14px;
}

.sec-3 .wrap .con-2 .item{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sec-3 .wrap .con-2 .item>div{
    display: flex;
    gap: 10px;
}

.sec-3 .wrap .con-2 .item .img img{
    height: 100px;
}
.sec-3 .wrap .con-2 .item .text{
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
}
.sec-3 .wrap .con-2 .item .text .eng{
    font-size: 12px;
    font-weight: 800;
}
.sec-3 .wrap .con-2 .item .text .kor{
    font-size: 12px;
    color: #888888;
}
.sec-3 .wrap .con-2 .item .text .price{
    display: flex;
    gap: 6px;
    padding-top: 10px;
}
.sec-3 .wrap .con-2 .item .text .price p:nth-child(1){
    font-size: 14px;
    font-weight: 800;
    color: #FF4802;
}
.sec-3 .wrap .con-2 .item .text .price p:nth-child(2){
    font-size: 14px;
    font-weight: 800;
}

.sec-4{}
.sec-4 .wrap{
    width: 100%;
}
.sec-4 .wrap>.text{
    padding: 20px 0;
}
.sec-4 .wrap .text .tit{
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
}
.sec-4 .wrap .text .sub{
    font-size: 14px;
    color: #C1C1C1;
}

.sec-4 .wrap .swiper-wrapper{
    position: relative;
}

.sec-4 .wrap .swiper-wrapper>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sec-4 .wrap .swiper-wrapper .thum{}
.sec-4 .wrap .swiper-wrapper .thum img{
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 14px;
    padding: 10px 10px;
}

.sec-4 .wrap .swiper-wrapper>div .text{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.sec-4 .wrap .swiper-wrapper>div .text .eng{
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sec-4 .wrap .swiper-wrapper>div .text .kor{
    color: #888888;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sec-4 .wrap .swiper-wrapper>div .price{
    font-size: 14px;
    font-weight: 800;
    padding-top: 10px;
}
.sec-4 .wrap .swiper-wrapper>div .price p{}

.sec-4 .wrap .swiper-wrapper>div .info{
    display: flex;
    gap: 6px;
}
.sec-4 .wrap .swiper-wrapper>div .info>div{}
.sec-4 .wrap .swiper-wrapper>div .info>div a{
    display: flex;
    align-items: center;
    gap: 4px;
}
.sec-4 .wrap .swiper-wrapper>div .info img{
    height: 12px;
}
.sec-4 .wrap .swiper-wrapper>div .info p{
    font-size: 12px;
    color: #888888;
}

.sec-5{}
.sec-5 .wrap{
}
.sec-5 .wrap>.text{
    padding: 20px 0;
    font-size: 20px;
    font-weight: 700;
}

.sec-5 .wrap .swipper-wrapper{}
.sec-5 .wrap .swipper-wrapper .thum{
    position: relative;
}
.sec-5 .wrap .swiper-slide .thum img{
    width: 100%;
}
.sec-5 .wrap .swiper-slide .text{
    position: absolute;
    bottom: 30px;
    left: 20px;
}
.sec-5 .wrap .swiper-slide .text p{
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    padding-bottom: 10px;
}

.sec-5 .wrap .swiper-slide .text button{
    font-size: 12px;
    background-color: #ffffff;
    padding: 8px 14px;
    border-radius: 9999px;
}

footer{background-color: #F5F5F5;}
footer .wrap{
    font-size: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
}

footer .wrap .site{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
footer .wrap .site p{
    font-weight: 800;
}
footer .wrap .site ul{
    display: flex;
    gap: 4px;
}
footer .wrap .site ul li{}
footer .wrap .sns{
    display: flex;
    gap: 10px;
}
footer .wrap .sns img{width: 22px;}
footer .wrap .util{}
footer .wrap .util ul{
    display: flex;
    gap: 8px;
    font-weight: 800;
}
footer .wrap .util ul li{}
footer .wrap .info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
footer .wrap .info .tit{
    font-weight: 800;
}
footer .wrap .info .sub{}