@media (min-width: 768px) {
.m{display: none;}
.pc{display: none;}
.tab{display: block;}

header{}
header .wrap{
    padding: 20px 0;
    max-width: 868px;
    width: 100%;
    margin: 0 auto;
}
header .wrap h1{
    position: relative;
    z-index: 999;
}
header .wrap h1 img{width: 80px;}
header .wrap .button{
    display: flex;
    align-items: center;
    gap: 40px;
}
header .wrap .button .lang{
    position: relative;
    z-index: 999;
}
header .wrap .button .lang button{
    color: #ffffff;
    font-size: 16px;
}
header .wrap .button .btn-opn img{width: 40px;}
header .wrap nav{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #204782;
    transition: all 0.3s;
    padding: 0 12px;
    padding-top: 90px;
    transition: left 0.3s;
    padding: 0 120px;
}

header .wrap nav .gnb{
    font-size: 36px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: end;
}
header .wrap nav .sns{
    gap: 26px;
}
header .wrap nav .sns>div{
    gap: 8px;
}
header .wrap nav .sns p{
    font-size: 14px;
}

.con-1{}
.con-1 .wrap{
    max-width: 868px;
    width: 100%;
    margin: 0 auto;
    color: #ffffff;
    padding: 190px 0px;
    gap: 60px;
}
.con-1 .wrap .text{
    gap: 130px;
}
.con-1 .wrap .text .sub{
    font-size: 22px;
}
.con-1 .wrap .text .sub::after{
    height: 1px;
}
.con-1 .wrap .text .tit{
    font-size: 90px;
    line-height: 130px;
}
.con-1 .wrap .text .info{
    width: unset;
    line-height: 38px;
    font-size: 20px;
    font-weight: 300;
}
.con-1 .wrap .btn-more{
    display: none;
}

.con-2{
    display: block;
}
.con-2 .wrap{
    max-width: 868px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 120px 0px;
}
.con-2 .wrap .fresh{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/Fresh_background.png);
    background-position: right 0% bottom 0%;
}
.con-2 .wrap .fresh img{width: 300px;}
.con-2 .wrap .fresh .text{
    font-family: "Noto Sans KR", serif;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.con-2 .wrap .fresh .text .tit{
    font-size: 30px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: -2px;
}
.con-2 .wrap .fresh .text .tit span{
    font-weight: 700;
}
.con-2 .wrap .fresh .text .sub{
    font-size: 18px;
    color: #494949;
    line-height: 28px;
    font-weight: 400;
}
.con-2 .wrap .premium{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/Premium\ background.png);
    background-position: left 0% bottom 20%;
}
.con-2 .wrap .premium img{width: 450px;}
.con-2 .wrap .premium .text{
    font-family: "Noto Sans KR", serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: -2px;
}
.con-2 .wrap .premium .text span{
    font-weight: 700;
}
.con-3{}
.con-3 .wrap{
    max-width: 868px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
    gap: 100px;
}
.con-3 .wrap .text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.con-3 .wrap .text .tit{
    font-size: 48px;
}
.con-3 .wrap .text .sub{
    font-size: 20px;
    font-weight: 300;
}
.con-3 .wrap .swiper-wrapper .type{
    font-size: 20px;
    padding-bottom: 10px;
}
.con-3 .wrap .swiper-wrapper .name{
    font-size: 20px;
}
.con-3 .wrap .btn-more{
    padding-top: 18px;
}
.con-3 .wrap .btn-more .border{
    padding: 5px;
    border-width: 3px;
}
.con-3 .wrap .btn-more div{
    padding: 16px;
    background-color: #F1F1F1;
}
.con-3 .wrap .btn-more div img{
    width: 22px;
}

.con-4 .wrap{
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}
.con-4 .wrap .text{
    grid-column: 2 / 6;
    font-size: 48px;
    line-height: 60px;
    gap: 60px;
}
.con-4 .wrap .btn-search button{
    font-size: 16px;
    padding: 12px 26px;
}
.con-4 .wrap .img{
    grid-column: 6 / 12;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.con-4 .wrap .img > div img{
    border-radius: 20px;
    max-width: 100%;
}
.con-4 .wrap .img .image-1{}
.con-4 .wrap .img .image-1 img{
    box-shadow: 18px 18px #F7941C;
    width: 16.6vw;
}
.con-4 .wrap .img .image-2{
    margin-top: 6vw;
}
.con-4 .wrap .img .image-2 img{
    width: 30vw;
}
.con-4 .wrap .img .image-3{
    position: absolute;
    bottom: 6vw;
    left: -1vw;
}
.con-4 .wrap .img .image-3 img{
    width: 13vw;
}
.con-4 .wrap .img .image-4{
    margin: -12vw auto 0;
}
.con-4 .wrap .img .image-4 img{
    width: 18vw;
}
.con-5{}
.con-5 .wrap{
    padding: 100px 0;
    max-width: 868px;
    width: 100%;
    margin: 0 auto;
}
.con-5 .wrap .text .tit{
    font-size: 48px;
}
.con-5 .wrap .text .sub{
    font-size: 20px;
    font-weight: 300;
}
.con-5 .wrap .swiper{
    padding: 140px 0;
}
.con-5 .wrap .swiper .swiper-wrapper .swiper-slide:nth-child(odd) {
    transform: translateY(-30px);
}
.con-5 .wrap .swiper .swiper-wrapper .swiper-slide:nth-child(even) {
    transform: translateY(30px);
}
.con-5 .wrap .swiper .swiper-wrapper .swiper-slide img{
    width: 100%;
    border-radius: 20px;
}
.con-5 .wrap .btn-more{
    padding-top: 20px;
}
.con-5 .wrap .btn-more .border{
    padding: 5px;
    border-width: 3px;
}
.con-5 .wrap .btn-more div{
    padding: 16px;
}
.con-5 .wrap .btn-more div img{
    width: 22px;
}
.con-6{
    background-image: url(../images/con-6\ background.png);
    background-size: 1400px 800px;
    background-position : right -100px top 100px;
}
.con-6 .wrap{
    width: 100%;
    margin: 0 auto;
    padding: 200px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}
.con-6 .wrap .text{
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-column: 2 / 6;
}
.con-6 .wrap .text .tit{
    font-size: 48px;
    line-height: 60px;
}
.con-6 .wrap .text .sub{
    font-weight: 300;
    font-size: 20px;
}
.con-6 .wrap .btn-search{}
.con-6 .wrap .btn-search button{
    font-size: 16px;
    padding: 12px 26px;
}
.con-6 .wrap .img{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    gap: 10px;
    grid-column: 6 / 12;
}
.con-6 .wrap .img .sec-1{
    padding-top: 320px;
}
.con-6 .wrap .img .sec-2{
    position: relative;
}
.con-6 .wrap .img .image-1{}
.con-6 .wrap .img .image-1 img{
    width: 18vw;
    border-radius: 20px;
}
.con-6 .wrap .img .image-2{}
.con-6 .wrap .img .image-2 img{
    width: 34vw;
    border-radius: 20px;
}
.con-6 .wrap .img .image-3{
    position: absolute;
    top: -100px;
    left: -100px;
}
.con-6 .wrap .img .image-3 img{
    width: 22vw;
    border-radius: 20px;
    box-shadow: 12px 12px #FF5701;
}
footer .wrap{
    gap: 10px;
    padding-top: 80px;    
}
footer .wrap .logo img{width: 60px;}
footer .wrap .info{
    width: unset;
    font-size: 14px;
}
footer .wrap .info .tit{
    font-size: 12px;
}
}

