.cosmosfarm-simple-popup-layout {
    background-color: rgba(255,255,255,0) !important;
}

.cosmosfarm-simple-popup-layout .popup-content img {
    margin: 0px;
}



@media screen and (max-width: 768px) {
    .cosmosfarm-simple-popup-layout .popup-content {
        height: auto !important;
    }
}