p.web-ft-copyw { /*
    font-size: 25px !important;
    font-weight: 600 !important;
    line-height: 33px !important; */
    margin-bottom: 8px !important;
}
a.web-ck-dd {
    /*display: none !important;*/
}
.q_tabs .tabs-nav li.active a {
    color: #ffffff !important;
}
.q_tabs .tabs-nav li.active a:hover {
    color: #ffffff !important;
}
.kboard-document-action {
    display: none;
}

p.web-success-board-top-inner p {
    color: #252525 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: -0.5px !important;
}

#kboard-default-document .kboard-button-action:hover {

    border-bottom: 1px solid #252525!important;
}


.web-main-dee a {
    display: inline-block;
    width: 60%;
    text-align: center;
    background-color: #ff6a48;
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    border-radius: 3px;
    padding: 7px 0px 7px 0px;
    height: 35px;
}

.web-main-dee a:hover {

    color: #000;

}

h4.q_slide_subtitle span strong {


    color: #3a78fd !important;
}

h4.q_slide_subtitle span b {


    color: #fff !important;
    background-color: #3a78fd;
}

.web-main-circle-text03 p {
    background-color: #3a78fd;
    border-radius: 100%;
    width: 70%;
    padding-top: 66px;
    padding-bottom: 36px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: #121212;
    z-index: 999;
    position: absolute;
    left: 15%;
}

.web-main-circle-text03 p strong {
    font-size: 72px;
    line-height: 80px;
    color: #729fff;
    position: absolute;
    top: 7%;
    z-index: -1;
    left: 20%;
}

.web-main-dsc-dbz p {
    font-size: 16px;
    text-align: center;
    line-height: 26px;

    color: #3a3a3a;
}

.web-main-dsc-dbz p br {

    display: none;
}



.web-main-circle-text03 p b {
    font-size: 19px;
    line-height: 27px;
    color: #fff;
}


.web-main-blue-dsc-db p strong {

    color: #3a79fe !important;
    font-weight: 600;

}

.q_list.circle ul li strong {
    color: #3a79fe !important;
    font-weight: 600;
    font-size: 17px !important;
}
.web-mee-sub p {
    font-size: 15px;
    line-height: 23px;
    color: #000;
    text-align: center;
}

@media only screen and (min-width: 769px){
    div#web-mob-main-sla {
        display: none;
    }
}



@media only screen and (min-width: 769px){
    /*div#web-mob-main-sla {
        display: none;
    }*/
    /*
    .slider_content.skrollable.skrollable-between {
        left: -2.5% !important;
        top: 69% !important;
    } */
    .web-db-tlogot-mob img {
        display: none;
    }


}

.drop_down .second i {
    display: inherit !important;
    position: relative;
    left: 2px !important;
}

div#afc_sidebar_622 {
    display: none;
}
/*
@keyframes cat {
  0%   { top:-100px;}
  100%  { top:0px;}
}



.web-main-circle-text01 p {
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-name: cat;
  -webkit-animation-name: cat;
  animation-name: cat;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.web-main-circle-text02 p {
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-name: cat;
  -webkit-animation-name: cat;
  animation-name: cat;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.web-main-circle-text03 p {
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-name: cat;
  -webkit-animation-name: cat;
  animation-name: cat;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
*/
.q_tabs ul.tabs-nav li:nth-child(2) {

    margin-right: 0% !important;

}


.q_tabs ul.tabs-nav li a:hover {
    font-size: 17px;
    line-height: 52px;
    color: #fff;
}

.q_tabs ul.tabs-nav li a {
    font-size: 17px;
    line-height: 52px;

    font-weight: 600 !important;
}




@media only screen and (min-width: 1300px)  {
    .q_tabs ul.tabs-nav li {
        /*  width: 30.7%;
          margin-right: 3%;
          height: 355px;
          background-size: cover;
          background-position: center;
          border: 3px solid #b5b5b5;
          border-radius: 16px;
          cursor: pointer; */


        width: 47.8%;
        margin-right: 2.8%;
        height: 50px;
        /* background-size: cover; */
        background-position: center;
        border: 3px solid #b5b5b5;
        border-radius: 16px;
        cursor: pointer;
    }
    .q_tabs ul.tabs-nav li.active {
        border-color: #3a79fe;

        background-color: #3a79fe !important;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1299px)  {
    .q_tabs ul.tabs-nav li {
        /*  width: 30.7%;
          margin-right: 3%;
          height: 355px;
          background-size: cover;
          background-position: center;
          border: 3px solid #b5b5b5;
          border-radius: 16px;
          cursor: pointer; */


        width: 47.5%;
        margin-right: 2.8%;
        height: 50px;
        /* background-size: cover; */
        background-position: center;
        border: 3px solid #b5b5b5;
        border-radius: 16px;
        cursor: pointer;
    }
    .q_tabs ul.tabs-nav li.active {
        border-color: #3a79fe;

        background-color: #3a79fe !important;
    }
}

@media only screen and (min-width: 769px) and (max-width: 999px)  {
    .q_tabs ul.tabs-nav li {
        /*  width: 30.7%;
          margin-right: 3%;
          height: 355px;
          background-size: cover;
          background-position: center;
          border: 3px solid #b5b5b5;
          border-radius: 16px;
          cursor: pointer; */


        width: 47.3%;
        margin-right: 2.8%;
        height: 50px;
        /* background-size: cover; */
        background-position: center;
        border: 3px solid #b5b5b5;
        border-radius: 16px;
        cursor: pointer;
    }
    .q_tabs ul.tabs-nav li.active {
        border-color: #3a79fe;

        background-color: #3a79fe !important;
    }

}


#kboard-default-list .kboard-list tbody tr {
    background-color: #f4f4f4 !important;
}



@media only screen and (max-width: 768px){
    div#qode-home-slide {
        display: none;
    }
}

@media only screen and (max-width: 1000px)
    .carousel:not(.advanced_responsiveness) .carousel-inner .slider_content {
        display: table-cell;
        vertical-align: middle;
        position: static;
        top: 0!important;
        left: 0!important;
    }

    .slider_content.left.skrollable.skrollable-between {
        width: 100% !important;
    }

    .web-main-war-dsc-db p {
        font-size: 18px;
        line-height: 26px;
        color: #ff6a48;
        font-weight: 500;
        letter-spacing: -0.5px;
    }
    .q_elements_item.web-e-cleane {
        position: relative;
        left: 5%;
    }

    .web-main-dsc-dbe p {
        font-size: 14px;
        line-height: 22px;
        color: #ea0000;
    }















    /*모바일*/
    @media only screen and (max-width: 768px){
        /*.web-main-circle-text03 p {
            width: 100%;
            position: inherit;
            left: 0%;
            padding-top: 22px;
            padding-bottom: 42px;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -1.5px;
        }*/
        .web-main-circle-text03 p strong {
            font-size: 32px;
            line-height: 40px;
            position: inherit;
            top: 0%;
            z-index: 0;
            left: 0%;
            letter-spacing: -1.5px;
        }

        .web-main-circle-text03 p b {
            font-size: 15px;
            line-height: 23px;
        }
        .web-main-dee a {
            display: inline-block;
            width: 60%;
            text-align: center;
            background-color: #ff6a48;
            color: #fff;
            font-size: 14px;
            line-height: 27px;

            height: 27px;
        }
        div#afc_sidebar_622 {
            display: none;
        }

        .wpb_gallery .wpb_flexslider.flexslider .flex-control-nav {
            margin-top: 0px !important;
            text-align: center;
        }
        #kboard-default-list .kboard-list table td.kboard-list-title {
            width: 100% !important;
        }

        /*
        p.q_slide_text {
            margin: 15px 0px 90px !important;
        }
        */

        /*
        .carousel-inner .slider_content .text .qbutton {

            position: relative;

            left: -8%;
        }*/
        /*
        .carousel-inner .slider_content .text .qbutton {
            margin: 0px 0 0 !important;

        } */
        p.web-ft-copyw {
            font-size: 14px !important;
            font-weight: 600 !important;
            line-height: 22px !important;
            margin-bottom: 8px !important;
        }
        .web-main-dsc-dbz p {
            font-size: 13px;
            text-align: center;
            line-height: 23px;

            color: #3a3a3a;
        }
        .web-main-dsc-dbz p br {

            display: inherit;
        }
        .q_tabs ul.tabs-nav li a {
            font-size: 13px;
            line-height: 35px;
        }
        .q_tabs ul.tabs-nav li a:hover {
            font-size: 13px;
            line-height: 36px;
            color: #fff !important;
        }
        .q_tabs .tabs-nav li a:hover, .q_tabs .tabs-nav li.active a:hover {
            color: #ffffff !important;
        }
        .carousel-inner .slider_content .thumb img {
            height: 170px !important;
        }
        .q_elements_item.web-e-cleane {
            position: relative;
            left: 0px;
        }
        .web-main-war-dsc-db p {
            font-size: 15px;
            line-height: 23px;

        }
        .web-db-tlogot img {
            display: none;
        }
        .web-db-tlogot-mob img {
            width: 65% !important
        }

    }







    @media only screen  and (max-width: 768px){

        .q_tabs .tabs-nav li a:hover, .q_tabs .tabs-nav li.active a:hover {
            color: #ffffff !important;
        }
        .wpb_single_image.wpb_content_element.vc_align_center.web-def-id img {
            width: 80%;
        }
        /*
        h4.q_slide_subtitle {
            position: relative;
            top: 52px;
        }
        */
    }







    /*
    @media only screen  and (max-width: 412px){
    p.q_slide_text {
        margin: 15px 0px 90px !important;
    }
    .carousel-inner .slider_content .text .qbutton {

       position: relative;
        left: -8%;
        bottom: 14px;
    }
    }
    */



    /*
    @media only screen  and (min-width: 414px) and (max-width: 768px){
    p.q_slide_text {
        margin: 15px 0px 113px !important;
    }
    }
    */



    /*
    @media only screen  and (min-width: 414px) and (max-width: 470px){
    .carousel-inner .slider_content .text .qbutton {

       position: relative;
        left: -14%;
        bottom: 6px;
    }
    }
    */

    /*
    @media only screen and (min-width: 500px) and (max-width: 768px){
    .carousel-inner .slider_content .text .qbutton {
        position: relative;
        left: -4%;
        bottom: -30px;
    }
    a.qbutton.green.default {
        top: 10px !important;
    }
    }
    */

    /*
    .carousel-inner .slider_content .text .qbutton {

        position: relative;

        left: -8%;
    }*/





    @media only screen and (min-width: 414px) and (max-width: 768px) {
        .web-main-circle-text03 p {
            width: 100%;
            position: inherit;
            left: 0%;
            padding-top: 22px;
            padding-bottom: 42px;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -1.5px;
        }
    }

    @media only screen and (max-width: 413px) {

        .web-main-circle-text03 p {
            width: 105%;
            position: inherit;
            left: 0%;
            padding-top: 22px;
            padding-bottom: 42px;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -1.5px;
        }
    }