.kboard-default-poweredby a {
    display: none;
}

.kboard-customer-poweredby a {
    display: none;
}

#kboard-default-list .kboard-category select {
    font-family: nanum gothic !important;
}

#kboard-customer-list .kboard-category select {
    font-family: nanum gothic !important;
}

#kboard-default-list .kboard-search select {
    font-family: nanum gothic !important;
}

#kboard-customer-list .kboard-search select {
    font-family: nanum gothic !important;
}

.kboard-default-button-small, .kboard-default-button-small:link, .kboard-default-button-small:visited {
    font-family: nanum gothic !important;
}

.kboard-customer-button-small, .kboard-customer-button-small:link, .kboard-customer-button-small:visited {
    font-family: nanum gothic !important;
}

#kboard-default-document .kboard-title p {
    font-size: 20px !important;
    font-family: arial, noto sans kr !important;
}

#kboard-customer-document .kboard-title p {
    font-size: 20px !important;
    font-family: arial, noto sans kr !important;
}

#kboard-default-thumbnail .kboard-title p {
    font-size: 20px !important;
    font-family: arial, jeju gothic !important;
}

#kboard-customer-thumbnail .kboard-title p {
    font-size: 20px !important;
    font-family: arial, jeju gothic !important;
}

#kboard-default-document .kboard-detail .detail-attr .detail-name {
    font-family: arial, noto sans kr !important;
    font-weight: 500 !important;
    color: #000 !important;
}

#kboard-customer-document .kboard-detail .detail-attr .detail-name {
    font-family: arial, noto sans kr !important;
    font-weight: 500 !important;
    color: #000 !important;
}

#kboard-default-document .kboard-detail .detail-attr .detail-value {
    font-family:  arial, nanum gothic !important;
}

#kboard-customer-document .kboard-detail .detail-attr .detail-value {
    font-family:  arial, nanum gothic !important;
}

.kboard-comments .comments-count {
    font-family:  arial, nanum gothic !important;
}

.kboard-comments .kboard-comments-form .comments-submit .comments-submit-button input[type=submit] {
    font-family: nanum gothic !important;
}

#kboard-default-list .kboard-search select {
    border-radius: 0px !important;
}

#kboard-customer-list .kboard-search select {
    border-radius: 0px !important;
}

#kboard-thumbnail-list .kboard-search select {
    border-radius: 0px !important;
    padding-top: 6.5px\0 !important;
    padding-bottom: 6.5px\0 !important;
}

.kboard-default-button-small, .kboard-default-button-small:link, .kboard-default-button-small:visited {
    background-color: #000 !important;
    border-radius: 0px !important;
    color: #ffffff !important;
    line-height: 28px !important;
}

.kboard-customer-button-small, .kboard-customer-button-small:link, .kboard-customer-button-small:visited {
    background-color: #9BB5AC !important;
    border-radius: 0px !important;
    line-height: 28px !important;
}

.kboard-thumbnail-button-small, .kboard-thumbnail-button-small:link, .kboard-thumbnail-button-small:visited {
    background-color: #3e3e3e !important;
    border-radius: 0px !important;
    line-height: 28px !important;
}

#kboard-thumbnail-list .kboard-search input {
    padding: 4.5px 2px !important;
    border-radius: 0px !important;
}

#kboard-default-list .kboard-pagination .kboard-pagination-pages li.active a {
    border: 1px solid #3e3e3e !important;
    background-color: #3e3e3e !important;
    font-family: arial, nanum gothic !important;
    font-size: 11px;
    color: #ffffff !important;
}

#kboard-customer-list .kboard-pagination .kboard-pagination-pages li.active a {
    border: 1px solid #3e3e3e !important;
    background-color: #3e3e3e !important;
    font-family: arial, nanum gothic !important;
    font-size: 11px;
}

#kboard-thumbnail-list .kboard-pagination .kboard-pagination-pages li.active a {
    border: 1px solid #3e3e3e !important;
    background-color: #3e3e3e !important;
    font-family: arial, nanum gothic !important;
}

.kboard-default-button-small:hover, .kboard-default-button-small:focus, .kboard-default-button-small:active {
    border-radius: 0px !important;
}

.kboard-customer-button-small:hover, .kboard-default-button-small:focus, .kboard-default-button-small:active {
    border-radius: 0px !important;
}

.kboard-thumbnail-button-small:hover, .kboard-thumbnail-button-small:focus, .kboard-thumbnail-button-small:active {
    border-radius: 0px !important;
}

#kboard-default-list .kboard-list tbody tr.kboard-list-notice td.kboard-list-uid {
    font-family: nanum gothic;
}

#kboard-customer-list .kboard-list tbody tr.kboard-list-notice td.kboard-list-uid {
    font-family: nanum gothic;
}



#kboard-default-list .kboard-list tbody tr td {
    font-family: arial, noto sans kr !important;
    font-weight: 600 !important;
    font-size: 12px;
    color: #292929 !important;
    letter-spacing: 0px;
}

#kboard-customer-list .kboard-list tbody tr td {
    font-family: arial, nanum gothic !important;
    font-weight: 400 !important;
    font-size: 12px;
    color: #7d7d7d !important;
}

#kboard-default-list .kboard-list table th.kboard-list-user {
    width: 130px !important;
}
#kboard-default-list .kboard-list table td.kboard-list-user {
    width: 130px !important;
}

#kboard-default-list .kboard-list table tbody td.kboard-list-user {
    color: #6f6f6f !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 21px !important;
}

#kboard-default-list .kboard-list table tbody td.kboard-list-date {
    color: #6f6f6f !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 21px !important;
}

#kboard-default-list .kboard-list table tbody td.kboard-list-view {
    color: #6f6f6f !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 21px !important;
}

#kboard-default-list .kboard-list table tbody td.kboard-list-uid {
    color: #6f6f6f !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 21px !important;
}

#kboard-customer-list .kboard-list table th.kboard-list-user {
    width: 130px !important;
}
#kboard-customer-list .kboard-list table td.kboard-list-user {
    width: 130px !important;
}

#kboard-thumbnail-list .kboard-list table th.kboard-list-user {
    width: 130px !important;
}
#kboard-thumbnail-list .kboard-list table td.kboard-list-user {
    width: 130px !important;
}

#kboard-default-list .kboard-search input {
    padding-top: 3px !important;
    padding-bottom: 4px !important;
    font-family: arial, nanum gothic !important;
}

#kboard-customer-list .kboard-search input {
    padding-top: 3px !important;
    padding-bottom: 4px !important;
    font-family: arial, nanum gothic !important;
}

#kboard-thumbnail-list .kboard-search input {
    padding-top: 3px !important;
    padding-bottom: 4px !important;
    font-family: arial, nanum gothic !important;
}

button.kboard-default-button-small {
    background-color: #3E3E3E !important;
}

button.kboard-customer-button-small {
    background-color: #3E3E3E !important;
}

button.kboard-thumbnail-button-small {
    background-color: #3E3E3E !important;
    height: 28px;
}

.cut_strings a {
    text-decoration: none;
}

div.bananantfct01 a {
    color: #fff;
    text-decoration: none;
    font-family: nanum gothic !important;
    padding-left: 21px;
}

div.bananantfct01 {
    background-color: #8D6DC4;
    text-align: left;
    width: 50%;
    margin-top: 10px;
    margin-left: 6px;
}

th.kboard-latest-title {
    padding-left: 0px !important;
}

th.kboard-latest-date {
    padding-left: 8px !important;
}

.kboard-thumbnail-poweredby {
    display: none;
}

th.kboard-list-thumbnail {
    font-weight: 600 !important;
    letter-spacing: 2px;
    color: #292929 !important;
    font-size: 15px !important;
}
td.kboard-list-thumbnail {
    font-weight: 600 !important;
    letter-spacing: 2px;
    color: #292929 !important;
    font-size: 15px !important;
}


th.kboard-list-uid {
    font-weight: 600 !important;
    letter-spacing: 0px;
    color: #000000 !important;
    font-family: arial, noto sans kr !important;
}
td.kboard-list-uid {
    font-weight: 600 !important;
    letter-spacing: 0px;
    color: #000000 !important;
    font-family: arial, noto sans kr !important;
}

th.kboard-list-title {
    font-weight: 600 !important;
    letter-spacing: 2px;
    color: #292929 !important;
    font-size: 15px !important;
}
td.kboard-list-title {
    font-weight: 600 !important;
    letter-spacing: 2px;
    color: #292929 !important;
    font-size: 15px !important;
}

th.kboard-list-user {
    font-weight: 600 !important;
    letter-spacing: 2px;
    color: #292929 !important;
    font-family: arial, noto sans kr !important;
    font-size: 15px !important;
}
td.kboard-list-user {
    font-weight: 600 !important;
    letter-spacing: 2px;
    color: #292929 !important;
    font-family: arial, noto sans kr !important;
    font-size: 15px !important;
}

th.kboard-list-date {
    font-weight: 600 !important;
    letter-spacing: 2px;
    color: #292929 !important;
    font-family: arial, noto sans kr !important;
    font-size: 15px !important;
}
td.kboard-list-date {
    font-weight: 600 !important;
    letter-spacing: 2px;
    color: #292929 !important;
    font-family: arial, noto sans kr !important;
    font-size: 15px !important;
}

th.kboard-list-view {
    font-weight: 600 !important;
    letter-spacing: 2px;
    color: #292929 !important;
    font-family: arial, noto sans kr !important;
    font-size: 15px !important;
}
td.kboard-list-view {
    font-weight: 600 !important;
    letter-spacing: 2px;
    color: #292929 !important;
    font-family: arial, noto sans kr !important;
    font-size: 15px !important;
}









div#wp-kboard_content-editor-tools button#insert-media-button {
    display: none;
}




div#kboard-default-latest thead {
    display: none;
}

div#kboard-customer-latest thead {
    display: none;
}

div#kboard-thumbnail-latest thead {
    display: none;
}

#kboard-default-latest table .kboard-latest-title {
    padding-left: 0px !important;
    font-size: 11px !important;
    text-align: left !important;
    line-height: 11px\0;
}

#kboard-customer-latest table .kboard-latest-title {
    padding-left: 0px !important;
    font-size: 11px !important;
    text-align: left !important;
}

#kboard-thumbnail-latest table .kboard-latest-title {
    padding-left: 0px !important;
    font-size: 11px !important;
    text-align: left !important;
}

@media only screen and (max-width: 768px) {
    #kboard-thumbnail-latest table .kboard-latest-title {
        padding-left: 10px !important;
    }
}

#kboard-default-latest table .kboard-latest-title a {
    font-weight: 500;
    letter-spacing: 0.5px;
}

#kboard-customer-latest table .kboard-latest-title a {
    font-weight: 500;
    letter-spacing: 0.5px;
}

#kboard-thumbnail-latest table .kboard-latest-title a {
    font-weight: 500;
    letter-spacing: 0.5px;
}

#kboard-default-latest table td {
    padding: 3px 0 !important;
}

#kboard-customer-latest table td {
    padding: 2px 0 !important;
}

#kboard-thumbnail-latest table td {
    padding: 2px 0 !important;
}


.kboard-default-cut-strings {
    font-weight: 400;
    font-size: 13px;
    font-family: arial, noto sans kr !important;
    line-height: 21px;
    letter-spacing: 0px;
    color: #6f6f6f;
}

.kboard-customer-cut-strings {
    font-weight: 400;
    font-size: 12px;
    font-family: arial, nanum gothic !important;
}

.kboard-thumbnail-cut-strings {
    font-weight: 600;
    font-family: arial, noto sans kr !important;
    font-size: 14px;
    line-height: 22px;
}

#kboard-thumbnail-list .kboard-list table th.kboard-list-uid {
    font-weight: 600 !important;
    font-family: arial, noto sans kr !important;
    font-size: 15px;
}
#kboard-thumbnail-list .kboard-list table td.kboard-list-uid {
    font-weight: 600 !important;
    font-family: arial, noto sans kr !important;
    font-size: 15px;
}







input#kboard-input-title {
    font-family: arial, nanum gothic !important;
}

textarea#kboard_content {
    font-family: arial, nanum gothic !important;
}

#kboard-default-editor .kboard-attr-row .attr-name {
    color: #000 !important;
    font-weight: 400 !important;
    font-family: arial, noto sans kr !important;
}

#kboard-customer-editor .kboard-attr-row .attr-name {
    color: #000 !important;
    font-weight: 400 !important;
    font-family: arial, noto sans kr !important;
}

.kboard-title h1 {
    font-family: arial, noto sans kr !important;
    color: #000 !important;
    font-size: 19px !important;
    padding: 12px 22px 34px 0 !important;
}

.kboard-content .content-view {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 23px;
    font-weight: 400;
    color: #686868;
}


button.kboard-button-action.kboard-button-download {
    border: 1px solid rgba(255, 255, 255, 0) !important;
    border-radius: 0px !important;
    color: #6b2d21 !important;
    font-family: arial, nanum gothic !important;
    letter-spacing: 0.5px !important;
}

.kboard-default-new-notify {
    font-family: arial, nanum gothic !important;
}

#kboard-default-list .kboard-list table th.kboard-list-vote {
    font-weight: 100;
    color: #000;
    font-family: arial, nanum gothic !important;
}
#kboard-default-list .kboard-list table td.kboard-list-vote {
    font-weight: 100;
    color: #000;
    font-family: arial, nanum gothic !important;
}

#kboard-default-list .kboard-list-header .kboard-total-count {
    font-family: arial, nanum gothic !important;
}

#kboard-default-list .kboard-list-header .kboard-sort select {
    border: 1px solid #b5b5b5 !important;
}

#kboard-default-list .kboard-search input {
    border: 1px solid #b5b5b5 !important;
}

#kboard-default-list .kboard-search select {
    border: 1px solid #b5b5b5 !important;
}

#kboard-default-list .kboard-list tbody tr td {
    border-bottom: 1px solid #b5b5b5 !important;
}


#kboard-default-list .kboard-list thead tr td {
    border-top: 1px solid #DD4F3E !important;
    border-bottom: 1px solid #DD4F3E !important;
    font-family: arial, noto sans kr !important;
    font-size: 15px;
    font-weight: 600 !important;
    color: #DD4F3E !important;


}


.kboard-default-new-notify {
    background-color: #ff8434 !important;
    vertical-align: text-bottom;
    color: #fff !important;
    font-weight: 400 !important;
}

#kboard-default-list .kboard-list table th.kboard-list-vote {
    display: none;
}
#kboard-default-list .kboard-list table td.kboard-list-vote {
    display: none;
}






.kboard-customer-new-notify {
    font-family: arial, nanum gothic !important;
}

#kboard-customer-list .kboard-list table th.kboard-list-vote {
    font-weight: 100;
    color: #000;
    font-family: arial, nanum gothic !important;
}
#kboard-customer-list .kboard-list table td.kboard-list-vote {
    font-weight: 100;
    color: #000;
    font-family: arial, nanum gothic !important;
}

#kboard-customer-list .kboard-list-header .kboard-total-count {
    font-family: arial, nanum gothic !important;
}

#kboard-customer-list .kboard-list-header .kboard-sort select {
    border: 1px solid #b5b5b5 !important;
}

#kboard-customer-list .kboard-search input {
    border: 1px solid #b5b5b5 !important;
}

#kboard-customer-list .kboard-search select {
    border: 1px solid #b5b5b5 !important;
}

#kboard-customer-list .kboard-list tbody tr td {
    border-bottom: 1px solid #dedede !important;
}

#kboard-customer-list .kboard-list thead tr td {
    border-bottom: 2px solid #e2e2e2 !important;
}


.kboard-customer-new-notify {
    background-color: #f7b458 !important;
}

#kboard-customer-list .kboard-list table th.kboard-list-vote {
    display: none;
}
#kboard-customer-list .kboard-list table td.kboard-list-vote {
    display: none;
}

#kboard-default-latest table td {
    border-top: 0px solid #f1f1f1 !important;
}

#kboard-default-latest table {
    border-bottom: 0px solid #f1f1f1 !important;
}

div#kboard-default-latest table, div#kboard-default-latest tbody, div#kboard-default-latest td, div#kboard-default-latest th, div#kboard-default-latest thead, div#kboard-default-latest tr {
    vertical-align: middle\0 !important;
}


td.kboard-list-vote {
    display: none;
}

#kboard-thumbnail-document .kboard-detail .detail-attr .detail-value {
    font-family: arial, nanum gothic !important;
}

span.comments-total-count {
    font-family: arial, nanum gothic !important;
}

.comments-list-username {
    font-family: arial, nanum gothic !important;
    font-weight: 400 !important;
}

.comments-list-create {
    font-family: arial, nanum gothic !important;
}

.comments-list-content {
    font-family: arial, nanum gothic !important;
}

.kboard-comments-default .comments-list>ul>li>.comments-list {
    padding-left: 50px;
}

@media screen and (max-width: 600px) {
    #kboard-default-list .kboard-search input {
        height: 28px !important;
    }
    .m_span{
        display: none;
    }
}



@media screen and (max-width: 600px) {
    #kboard-thumbnail-list .kboard-search input {
        height: 28px !important;
    }
}

#kboard-thumbnail-list .kboard-search input {
    border: 1px solid #b5b5b5 !important;
}

#kboard-thumbnail-list .kboard-search input {
    padding-top: 3px !important;
    padding-bottom: 4px !important;
    font-family: arial, nanum gothic !important;
}


#kboard-thumbnail-list .kboard-search select {
    border: 1px solid #b5b5b5 !important;
}

#kboard-thumbnail-list .kboard-search select {
    border-radius: 0px !important;
}

#kboard-thumbnail-list .kboard-search select {
    font-family: nanum gothic !important;
}


.kboard-modern-gallery-poweredby {
    display: none;
}

div#kboard-modern-gallery-list input[name="keyword"] {
    border: 1px solid #a2a2a2;
    width: 269px;
    height: 25px !important;
}

#kboard-modern-gallery-list .kboard-list .kboard-list-item {
    width: 373.2px !important;
    padding: 0 40px 62px 0 !important;
    margin: 0px !important;
}

div#kboard-modern-gallery-list form#kboard-search-form button.kboard-modern-gallery-button-small {
    background-color: #d6000f !important;
    font-size: 14px !important;
    height: 39px;
    width: 80px;
}

#kboard-modern-gallery-list .kboard-list .kboard-list-item:nth-child(3n) {
    padding-right: 0px !important;
}

#kboard-modern-gallery-list .kboard-pagination .kboard-pagination-pages li.active a {
    border: 1px solid #3e3e3e !important;
    background-color: #3e3e3e !important;
    font-weight: 400 !important;
}

#kboard-modern-gallery-list .kboard-list .kboard-list-item .kboard-item-description .kboard-item-user {
    font-family: roboto, noto sans kr !important;
}

#kboard-modern-gallery-list .kboard-list .kboard-list-item .kboard-item-description .kboard-item-title a {
    font-family: roboto, noto sans kr !important;
    font-size: 19px !important;
    text-align: left;
    color: #232323 !important;
    line-height: 27px !important;
    font-weight: 600;
    margin-top: 13px;
    margin-bottom: 0px;
    letter-spacing: -0.5px !important;
    display: block;
}

#kboard-modern-gallery-list .kboard-list .kboard-list-item .kboard-item-description .kboard-item-title a:hover {
    color: #004ea2 !important;
}

#kboard-modern-gallery-list .kboard-list .kboard-list-item .kboard-item-description .kboard-item-user span {
    color: #c09f66 !important;
    font-family: roboto, noto sans kr !important;
}

#kboard-modern-gallery-document .kboard-title p {
    color: #292929 !important;
    font-size: 20px !important;
    font-family: arial, noto sans kr !important;
}




@media only screen and (max-width: 768px) {
    #kboard-modern-gallery-list .kboard-list .kboard-list-item {
        width: 48.9% !important;
        display: inline-block;
        float: left !important;
        margin-right: 2% !important;
        padding-right: 0px !important;
        padding-bottom: 36px !important;
    }

    #kboard-modern-gallery-list .kboard-list .kboard-list-item:nth-child(2n) {
        margin-right: 0% !important;
    }

    #kboard-modern-gallery-list .kboard-list .kboard-list-item .kboard-item-thumbnail {
        height: 125px !important;
        line-height: 125px !important;
    }

    #kboard-modern-gallery-list .kboard-list .kboard-list-item .kboard-item-description {
        padding: 6px 7px 0px 7px !important;
        height: 56px !important;
    }

    #kboard-modern-gallery-list .kboard-list .kboard-list-item .kboard-item-description .kboard-item-title a {
        font-weight: 600 !important;
        font-size: 15px !important;
        margin-top: 10px;
        margin-bottom: 3px !important;
        line-height: 23px !important;
        letter-spacing: -0.5px !important;
        display: -webkit-box;
        display: -ms-flexbox\0;
        overflow: hidden;
        word-break: break-all;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        height: 23px;
        -webkit-line-clamp: 1;
    }

    #kboard-modern-gallery-list .kboard-list .kboard-list-item .kboard-item-description .kboard-item-user {
        font-size: 12px !important;
    }

    #kboard-modern-gallery-list .kboard-search input {
        width: 73% !important;
    }
}



button.kboard-default-button-small {
    background-color: #3e3e3e !important;
    line-height: 12px !important;
    font-weight: 400 !important;
    padding: 0px 13px !important;
}

button.kboard-thumbnail-button-small {
    background-color: #3e3e3e !important;
    line-height: 12px !important;
    font-weight: 400 !important;
    padding: 0px 13px !important;
}

#kboard-default-latest table .kboard-latest-date {
    text-align: right !important;
    color: #888;
    font-size: 14px !important;
    line-height: 22px;
}










#kboard-ocean-franchise-editor .kboard-attr-row .attr-value input[type=radio], #kboard-ocean-franchise-editor .kboard-attr-row .attr-value input[type=checkbox] {
    margin-top: 8px;
    margin-top: 2px !important;
    min-height: 15px;
}
#kboard-ocean-franchise-editor .kboard-attr-row .attr-value input[type=text], #kboard-ocean-franchise-editor .kboard-attr-row .attr-value input[type=password] {
    margin: 0;
    padding: 6px 2px;
    font-size: 12px;
    color: #666666;
    border-radius: 0;
    border: 1px solid #e8eaec;
    height: 36px !important;
    min-height: 36px;
}
.kboard-ocean-franchise-poweredby a {
    color: gray;
    display: none;
}



#kboard-ocean-franchise-list .kboard-list tbody tr td {
    font-family: arial, nanum gothic !important;
}

#kboard-ocean-franchise-list .kboard-list table a {
    font-family: arial, nanum gothic !important;
    font-weight: 400;
    letter-spacing: 0.5px;
}

#kboard-ocean-franchise-list .kboard-search input {
    border: 1px solid #c1c1c1 !important;
    min-height: 20px;
    border-right: 1px solid #c1c1c1 !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

#kboard-ocean-franchise-document .kboard-franchise-info table td {
    vertical-align: middle;
}

@media only screen and (min-width: 480px) {
    #kboard-ocean-franchise-document .kboard-franchise-info table td {
        line-height: 0px !important;
    }
}

#kboard-ocean-franchise-document .kboard-content .content-view {
    padding: 0px !important;
}

#kboard-ocean-franchise-list .kboard-list table th.kboard-list-title {
    font-family: arial, noto sans kr !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    color: #000 !important;
    line-height: 21px !important;
}
#kboard-ocean-franchise-list .kboard-list table td.kboard-list-title {
    font-family: arial, noto sans kr !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    color: #000 !important;
    line-height: 21px !important;
}

#kboard-ocean-franchise-list .kboard-header-title {
    font-weight: 600 !important;
    color: #000;
    margin-bottom: 10px !important;
}

#kboard-ocean-franchise-list .kboard-branch .kboard-branch-button.active, #kboard-ocean-franchise-list .kboard-branch .kboard-branch-button:hover {
    background-color: #050707 !important;
    border: 1px solid #050707 !important;
}

.kboard-document-add-option-value-wrap {
    margin-bottom: 12px !important;
}

@media screen and (max-width: 600px) {
    #kboard-thumbnail-list .kboard-list table th.kboard-list-title .kboard-thumbnail-cut-strings {
        display: block !important;
        font-size: 12px !important;
        line-height: 18px !important;
        font-weight: 400 !important;
    }
    #kboard-thumbnail-list .kboard-list table td.kboard-list-title .kboard-thumbnail-cut-strings {
        display: block !important;
        font-size: 12px !important;
        line-height: 18px !important;
        font-weight: 400 !important;
    }

    #kboard-thumbnail-list .kboard-list .kboard-mobile-contents {
        font-weight: 400;
    }

    #kboard-thumbnail-list .kboard-list .kboard-mobile-contents .contents-thumbnail {
        height: 88px !important;
        width: 96px !important;
    }

    #kboard-default-list .kboard-list table th.kboard-list-title .kboard-default-cut-strings {
        font-size: 13px !important;
        line-height: 20px !important;
        font-weight: 400 !important;
    }
    #kboard-default-list .kboard-list table td.kboard-list-title .kboard-default-cut-strings {
        font-size: 13px !important;
        line-height: 20px !important;
        font-weight: 400 !important;
    }
}






div#kboard-default-latest td.kboard-latest-title .kboard-default-cut-strings {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #888;
}




@media only screen and (max-width: 768px) {
    #kboard-modern-gallery-list .kboard-header>.kboard-category {
        width: 100% !important;
    }
}


@media only screen and (max-width: 768px) {
    #kboard-modern-gallery-latest .kboard-modern-gallery-latest-item {
        width: 48.7% !important;
        display: inline-block !important;
        margin-right: 5px !important;
        margin-bottom: 6px !important;
        padding-right: 0px !important;
    }

    #kboard-modern-gallery-latest .kboard-modern-gallery-latest-item:nth-child(2n) {
        margin-right: 0px !important;
    }

    #kboard-modern-gallery-latest .kboard-modern-gallery-latest-thumbnail {
        height: 145px !important;
        line-height: 145px !important;
    }

    .wpb_wrapper>#kboard-modern-gallery-latest .kboard-modern-gallery-latest-title a {
        font-size: 15px !important;
        line-height: 23px !important;
        letter-spacing: -0.5px !important;
        margin-top: 0px;
        margin-bottom: 0px;
        display: -webkit-box;
        display: -ms-flexbox\0;
        overflow: hidden;
        word-break: break-all;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        height: 23px;
        -webkit-line-clamp: 1;
    }

    #kboard-modern-gallery-latest .kboard-modern-gallery-latest-title {
        text-align: left !important;
        padding: 10px 0px 4px 0px !important;
    }

    p.web-news-board-latest-dsc {
        font-size: 13px !important;
        line-height: 21px !important;
        height: 20px !important;
    }

    p.web-news-board-latest-date {
        font-size: 14px !important;
        line-height: 22px !important;
        margin-top: 7px !important;
    }
}

















.kboard-venus-webzine-poweredby {
    display: none;
}












#kboard-modern-gallery-latest .kboard-modern-gallery-latest-item:last-child {
    padding-right: 0px;
}

#kboard-modern-gallery-latest .kboard-modern-gallery-latest-title a {
    font-size: 19px !important;
    text-align: left;
    display: block;
    color: #232323 !important;
    line-height: 27px !important;
    font-weight: 600;
    margin-top: 13px;
    margin-bottom: 10px;
}

#kboard-modern-gallery-latest .kboard-modern-gallery-latest-title a:hover {
    color: #87b145 !important;
}

p.web-news-board-latest-dsc {
    font-size: 14px;
    line-height: 22px;
    color: #5a5a5a;
    letter-spacing: -0.5px;
    display: -webkit-box;
    display: -ms-flexbox\0;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    height: 22px;
    -webkit-line-clamp: 1;
}

p.web-news-board-latest-dsc img, p.web-news-board-latest-dsc iframe, p.web-news-board-latest-dsc span, p.web-news-board-latest-dsc p, p.web-news-board-latest-dsc strong, p.web-news-board-latest-dsc h1, p.web-news-board-latest-dsc h2, p.web-news-board-latest-dsc h3  {
    display: none !important;
}

p.web-news-board-latest-date {
    font-size: 14px;
    line-height: 22px;
    margin-top: 8px;
    color: #5a5a5a;
}











@media only screen and (max-width: 768px) {
    #kboard-modern-gallery-latest .kboard-modern-gallery-latest-item:last-child {
        display: none !important;
    }
}







#kboard-modern-gallery-list .kboard-list .kboard-list-item .kboard-item-description {
    padding: 0px 0px 0px 0px !important;
    height: auto !important;
    border-top: 0px solid #e7e7e7 !important;
}

#kboard-modern-gallery-list .kboard-list .kboard-list-item {
    border: 0px solid #e7e7e7 !important;
}






div#kboard-modern-gallery-list .kboard-header {
    margin-bottom: 42px;
}

p.web-news-category {
    display: inline-block;
    float: right;
    margin-top: -40px;
    margin-right: 12px;
    background-color: #fff;
    color: #000;
    font-size: 13px;
    padding: 3px 13px;
    border: 1px solid #dadada;
    border-radius: 22px;
    line-height: 21px;
}


#kboard-modern-gallery-list .kboard-category {
    width: 70% !important;
}

div#kboard-modern-gallery-list form#kboard-search-form {
    width: 30%;
    float: right;
}

#kboard-modern-gallery-list .kboard-category .kboard-category-list {
    border-left: 0px solid #e8eaec !important;
    background: none !important;
}

#kboard-modern-gallery-list .kboard-category .kboard-category-list {
    border-left: 0px solid #e8eaec;
    background: none;
}

#kboard-modern-gallery-list .kboard-category .kboard-category-list li {
    border: 1px solid #d2d2d2 !important;
    width: 17%;
    text-align: center;
    border-radius: 32px;
    margin-right: 12px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

#kboard-modern-gallery-list .kboard-category .kboard-category-list li.kboard-category-selected {
    border-bottom: 1px solid #d2d2d2 !important;
}


#kboard-modern-gallery-list .kboard-category .kboard-category-list li a {
    font-size: 15px;
    line-height: 23px;
}




@media only screen and (max-width: 768px) {
    p.web-news-category {
        margin-top: -33px;
        margin-right: 6px;
        font-size: 12px;
        padding: 2px 10px;
        line-height: 20px;
    }

    #kboard-modern-gallery-list .kboard-category .kboard-category-list li:nth-child(3n) {
        margin-right: 0px !important;
    }

    #kboard-modern-gallery-list .kboard-category .kboard-category-list li {
        width: 31.4%;
        margin-right: 6px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        margin-bottom: 6px !important;
    }

    #kboard-modern-gallery-list .kboard-category .kboard-category-list li a {
        font-size: 13px;
        line-height: 21px;
    }

    div#kboard-modern-gallery-list .kboard-header {
        margin-bottom: 32px;
    }

    div#kboard-modern-gallery-list form#kboard-search-form {
        width: 100%;
        float: none;
        margin-top: 0px !important;
    }
}




/* �떎�슫濡쒕뱶 */

p.web-success-board-top-inner {
    color: #252525 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: -0.5px !important;
    margin-bottom: 5px;
}
p.web-success-board-top-inner2 {
    color: #252525 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: -0.5px !important;
    margin-bottom: 5px;
}